body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100vh;
}

.color-background {
	display: flex;
	flex-wrap: wrap;
	height: 86%;
}

.color-swatch {
	min-height: 75px;
	min-width: 75px;
	flex: 1 0 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.color-background#results {
	display: none;
}
.color-background#all-colors .color-swatch {
	flex-basis: 75px;
}

.hidden {
	display: none;
}

form input {
	margin: 15px;
	padding: 5px;
	width: 500px;
}
form select {
	margin: 15px;
}
