body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100vh;
}

.color-background {
	display: flex;
	flex-wrap: wrap;
	height: 86%;
}

.color-swatch {
	min-height: 85px;
	min-width: 85px;
	flex: 1 0 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.details {
	text-align: center;
	padding: 15px;
}

.details p {
	color: white;
	text-shadow:
		-0.5px -0.5px 0.5px #888888,
		0.5px -0.5px 0.5px #888888,
		-0.5px 0.5px 0.5px #888888,
		1px 1px 0.5px #888888;
}

.details button {
	width: 115px;
	padding: 6px 3px;
	margin: 7px;
}

.color-background#all-colors .color-swatch {
	flex-basis: 85px;
}

.color-background#all-colors .details {
	padding: 5px;
}

.color-background#all-colors p {
	margin: 0;
	font-size: 12px;
}

.color-background#all-colors button {
	white-space: normal;
}

.hidden {
	display: none;
}

.top-content {
	display: flex;
	margin: 15px;
}

form {
	flex: 5;
	display: flex;
}

form select {
	margin: 15px;
	margin-bottom: 5px;
}

form input {
	padding: 5px;
}

form .input-group {
	margin: 15px;
	margin-bottom: 0;
	flex: 2;
	display: flex;
	flex-direction: column;
}

.error {
	color: red;
	font-size: 10px;
	height: 25px;
	padding: 5px;
}

button.clear-color-scheme {
	flex: 1;
	margin: 15px;
}
